.layout-creator{
  display: flex;
  flex-direction: column-reverse;
  gap: 0.2rem;
}

.layout-creator__container{


  --page-proportion-a4: 1.4142;
   
    --page-w:30rem;
    width: var(--page-w);
    height: calc(var(--page-w)*var(--page-proportion-a4));
    --padding-w:2rem;
    padding:  var(--padding-w) calc(var(--padding-w)*var(--page-proportion-a4)) ;
   
    background-color: var(--layout-creator-background-color);

    display: grid;

  

}

.area__copy-icon{

  width: 1.2rem;
  height: 1.2rem;
  padding: 0.2rem;
  border-radius: .2rem;
  color: white;
  background-color: var(--color-succes);

}
.area__copy-icon--hover:hover{
  
  background-color: var(--color-secondary);

}
.area__copy-icon--active{
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.2rem;
  border-radius: .2rem;
  color: white;
  background-color: var(--color-danger);


}
.area__paste-icon{

  width: 1.2rem;
  height: 1.2rem;
  padding: 0.2rem;
  border-radius: .2rem;
  color:white ;
  background-color: var(--color-secondary);

}
.area__paste-icon--hover:hover{
  
  

}

.area{
  border: 2px solid #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.area__area-name {
  width: 2rem;
}

.edit-box {
  
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
 
  gap: 0.5rem;
}

.edit-box__input-container{
  background-color: white;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;
  gap:0.5rem
}
.edit-box__input {
  outline: 0;
  border: 0;
 
  font-weight: bold;
  border-radius: 0.2rem 0.2rem 0 0;
  height: 2rem;

 width: 1.5rem;
 height: 1rem;
 margin: 0;
}
.edit-box__label {
  color: var(--text-color-gray-primary);
  font-weight: bold;
  margin: 0;
 }
 .edit-box__save-icon{
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
  border-radius: .2rem;
  color:white ;
  background-color: var(--color-succes);

 }

 .edit-box__save-icon--hover:hover{

  background-color: var(--color-secondary);
 }

 .edit-box__cancel-icon{
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
  border-radius: .2rem;
  color:white ;
  background-color: var(--color-danger);

 }
 .edit-box__cancel-icon--hover:hover{

  background-color: var(--color-secondary);
 }




