.main-section-builder{

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 4rem 4rem 4rem;
grid-template-areas:"title area"  
                    "name lastname"
                    "job buttons";
column-gap: 4rem;
 

}
.main-section-builder__title-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: title;
}
.main-section-builder__title{

}




.main-section-builder__name-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: name;
}

.main-section-builder__name-label{
    font-size: small;
    color:var(--text-color-gray-primary);

}

.main-section-builder__name{
    background-color:var(--color-low-opacity-primary) ;
    outline: 0;
    border: 0;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-primary) ; 
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    height: 2rem;

}







.main-section-builder__lastname-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: lastname;
  }

.main-section-builder__lastname-label{
    font-size: small;
    color:var(--text-color-gray-primary);
}
.main-section-builder__lastname{
    background-color:var(--color-low-opacity-primary) ;
    outline: 0;
    border: 0;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-primary) ; 
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    height: 2rem;

}







.main-section-builder__job-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: job;
}

.main-section-builder__job-label{
    font-size: small;
    color:var(--text-color-gray-primary);
}
.main-section-builder__job{
    background-color:var(--color-low-opacity-primary) ;
    outline: 0;
    border: 0;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-primary) ; 
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    height: 2rem;

}





.main-section-builder__area-container{
    grid-area: area;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 0.7rem;
}
.main-section-builder__area-icon{
    color: var(--color-primary) ; 
    height: 1.2rem;
    width:  1.2rem;
    padding: 0.5rem 0;
    margin: 0;
}
.main-section-builder__area{
    color:var(--text-color-gray-primary);
    height: 2rem;
    width: 5rem;
    margin:0;
    outline:0;
    border: 0;
    font-weight: bold;
    border-bottom: 2px solid var(--color-primary) ; 
    font-size: 1rem;
}







.main-section-builder__buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: buttons;
}


