
:root{
    --page-proportion-a4: 1.4142;
}


.printable-resume{
    --page-w-print: 21cm;
    width: var(--page-w);
    height: 29.7cm;
    padding:  10mm ;
    margin:0;
    background-color: white;
    display: grid;
   


}
@page {
    size: A4;
    margin: 0;
}

@media print {
    .printable-resume  {
        width: 21cm !important;
        height: 29.7cm !important;
        margin: 0;
    }
    
}

.resume{
    
    width: 21cm;
    height: 29.7cm;
    padding:  10mm ;
    margin:0;
    background-color: white;
    transform: scale(0.6);
    display: grid;
  
    
    
}

    



