
:root{
    --page-proportion-a4: 1.4142;
}


.printable-resume{
    --page-w:200mm;
    width: var(--page-w);
    height: calc(var(--page-w)*var(--page-proportion-a4));
    --padding-w:10mm;
    padding:  var(--padding-w) calc(var(--padding-w)*var(--page-proportion-a4)) ;
  
    background-color: white;
  
    display: grid;
   


}

.resume{
    
    --page-w:30rem;
    width: var(--page-w);
    height: calc(var(--page-w)*var(--page-proportion-a4));
    --padding-w:3rem;
    padding:  var(--padding-w) calc(var(--padding-w)*var(--page-proportion-a4)) ;
  
    background-color: white;
  
    display: grid;
    
    
}

    



.zone{
    border: 2px solid;
    border-color: rgb(168, 168, 168);
}
.zone:hover{
    background-color: brown;
}