.section-builder{
   
display: grid;
grid-template-columns: 1fr 1fr;
grid-template: "title area" 
                "items items" 
                "buttons buttons" 
  
    
    }
.section-builder__title-container {
        grid-area: title;
        display: flex;
        flex-direction: row;
                
      }
.section-builder__title {
 
          
}
.section-builder__title--edit {
 
        
 
        
}
.section-builder__area-container {
    grid-area: area;
            
  }
  .section-builder__area-label {
    
            
  }
  .section-builder__area {
  
            
  }


.section-builder__add-item-button-container{
    grid-area: buttons;
    display: flex;
    justify-content: right;
}


.section-builder__items{
   grid-area: items;
   display: flex;
   flex-direction: column;
}
    
.section-builder-item{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 5rem 5rem;
    
    grid-template: "item location" 
                  "description description" 
                  "date buttons" 
}



.section-builder-item__item-container{
    grid-area: item;
}
.section-builder-item__item-label{
    display: block;
    
    height: 1.5rem;
}
.section-builder-item__item{
    display: block;
  
    height: 1.5rem;
}





.section-builder-item__location-container{
    grid-area: location;
}
.section-builder-item__location-label{
    display: block;
    
}
.section-builder-item__location{
  display: block;

    height: 1.5rem;
}








.section-builder-item__description-container{
    grid-area: description;
}
.section-builder-item__description-label{
  display: block;

}
.section-builder-item__description{ 
    display: block;
    width: 35rem;
    height: 2rem;
    
}









.section-builder-item__date-container{
    grid-area: date;
    display: flex;
    flex-direction: column;
}
.section-builder-item__date-label{
    display: block;
 
}
.section-builder-item__date-input-wrapper{
    display: flex;
    flex-direction: row;
}   
.section-builder-item__date-from{
    width: 5rem;
    height: 1.5rem;
}
.section-builder-item__date-to{
    width: 5rem;
    height: 1.5rem;
    
}













