.section-builder-item{  
    display: grid;
    

    grid-template-columns: 1fr 1fr;
    grid-template-areas:"item location" 
                        "description description" 
                        "date button"  ;
    column-gap: 3rem;
                    
  
    color:var(--text-color-gray-primary);
    font-size: small;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0,0.5);
    
}



.minimized-item__item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding:  0.5rem 0.5rem  0.5rem  1rem ;
    border-radius: 0.2rem;
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0,0.5);
}
.minimized-item__item{
    background-color: rgba(255, 255, 255, 0);
    outline: 0;
    border: 0;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-primary) ; 
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    height: 2rem;
}
.section-builder-item__icon-container{
    display: flex;
    position: relative;
    flex-direction: row;
    
    justify-content: space-around;

}
.section-builder-item__delete-icon{
    padding: 1rem;
    position: absolute;
    left:3rem;
    color: var(--color-danger) ; 
    height: 1.5rem;
    width:  1.5rem;
      
}
.section-builder-item__delete-icon::after {
  content:'';
    position:absolute;
    top:-10px; bottom:-10px; 
    left:-10px; right:-10px; 
          
}
.section-builder-item__delete-icon--hover:hover{
    color: var(--color-secondary) ; 
}





.section-builder-item__item-container{
    grid-area: item;
    display: flex;
    flex-direction: column;
    justify-content: left;    
    
 
    
}
.section-builder-item__item-label{
   
    
    height: 1.5rem;
}
.section-builder-item__item{
    
    background-color:var(--color-low-opacity-primary) ;
    outline: 0;
    border: 0;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-primary) ; 
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    height: 2rem;
    

    
}





.section-builder-item__location-container{
    grid-area: location;
    display: flex;
    flex-direction: column;
    justify-content: left;
 
    
   
    
}
.section-builder-item__location-label{
    color:var(--text-color-gray-secondary);
   
    margin: 0;
    height: 1.5rem;
    
   
    
}
.section-builder-item__location{
    background-color:var(--color-low-opacity-primary) ;
    outline: 0;
    border: 0;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-primary) ; 
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    
    height: 2rem;
    
    
}








.section-builder-item__description-container{
    grid-area: description;
    display: flex;
    flex-direction: column;
  
    
}
.section-builder-item__description-label{
    

 
    height: 1.5rem;

}
.section-builder-item__description{ 
    background-color:var(--color-low-opacity-primary) ;
    outline: 0;
    border: 0;
    padding:0.5rem;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-primary) ; 
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    height: 3rem;
    
}









.section-builder-item__date-container{
    grid-area: date;
    display: flex;
    flex-direction: column;
   
}
.section-builder-item__date-label{
   
    font-size: small;
    height: 1.5rem;

 
}
.section-builder-item__date-input-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}   
.section-builder-item__date-from{
    background-color:var(--color-low-opacity-primary) ;
    outline: 0;
    border: 0;
    padding:0.5rem;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-primary) ; 
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    
    width: 5rem;
    height: 1rem;
}
.section-builder-item__date-to{
    background-color:var(--color-low-opacity-primary) ;
    outline: 0;
    border: 0;
    padding:0.5rem;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-primary) ; 
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    width: 5rem;
    height: 1rem;
    
}





.section-builder-item__open-icon-container{
    grid-area:button;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
   }
   
   .section-builder-item__open-icon{
       color: var(--color-primary) ; 
       height: 1.5rem;
       width:  1.5rem;
       margin: 1rem ;
   }

   .section-builder-item__open-icon--hover:hover{
    color: var(--color-secondary);
}
.section-builder-item__open-icon::after {
    content:'';
      position:absolute;
      top:-10px; bottom:-10px; 
      left:-10px; right:-10px; 
            
  }


.section-builder-item__close-icon-container{
 grid-area:button;
 width: 100%;
 display:flex;
 flex-direction: row;
 justify-content: right;
 align-items: center;
}

.section-builder-item__close-icon{
    color: var(--color-primary) ; 
    height: 1.5rem;
    width:  1.5rem;
    margin: 0.5rem   ;
}


.section-builder-item__close-icon::after {
  content:'';
    position:absolute;
    top:-10px; bottom:-10px; 
    left:-10px; right:-10px; 
          
}
.section-builder-item__close-icon--hover:hover{
    color: var(--color-secondary);
}










.section-builder__add-item-icon-container{
    grid-area: buttons;
    display: flex;
    flex-direction :row;
    justify-content: right;
    align-items: center;
    
}

