
.section{
    display: flex;
    flex-direction: column;
    flex-grow:  0;
}

.section__title{
   margin: 2mm 0mm;
}






.section__items-container{
    
    display: flex;
    flex-direction: column;
    

}


.section-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-item__item-container{

      

}
.section-item__item{
    

    word-wrap: break-word;
    
   
}





.section-item__date-location-container{
   display: flex;
   flex-direction: row;
}

.section-item__location-container{
    display: flex;
   flex-direction: row;
   align-items: center;
}

.section-item__location{
 color: var(--text-color-gray-secondary);

font-size: small;
 
}

.section-item__icon-location{
color: var(--text-color-gray-secondary);
}


.section-item__text-container{
  
    
}
.section-item__text{
    color: var(--text-color-gray-primary);
    word-wrap: break-word;

}


.section-item__date-container{
    
    margin-right: 3mm;
}
.section-item__date{
    color: var(--text-color-gray-secondary);
    font-size: small;

}