
.section{
    display: flex;
    flex-direction: column;
    flex-grow:  0;
    background-color: rgb(160, 196, 243);
}
.section__title-container{

}

.section__title{
margin: 0;
padding: 0;
}






.section__items-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}


.section-item{
    display: flex;
    flex-direction: column;
  
   
 

}
.section-item__item-container{

      

}
.section-item__item{
    font-size: small;
    margin-top: 1rem;
    margin-bottom: 0;
   
}




.section-item__location-container{
   
}

.section-item__location{
    font-size: x-small;
 
}



.section-item__text-container{
    
    
}
.section-item__text{
    word-wrap: break-word;
    font-size: small;
}


.section-item__date-container{
    
}
.section-item__date{

}