
.section{
    display: flex;
    flex-direction: column;
    flex-grow:  0;
}
.section__title-container{

}

.section__title{
   margin: 2mm 0mm;
}






.section__items-container{
    
    display: flex;
    flex-direction: column;

}


.section-item{
    display: flex;
    flex-direction: column;

}
.section-item__item-container{

      

}
.section-item__item{
    

    word-wrap: break-word;
    
   
}

.section-item__item-date-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}



.section-item__location-container{
   
}

.section-item__location{
 color: var(--text-color-gray-secondary);

position: relative;
bottom: 2mm;
margin: 0;

font-size: x-small;
 
}



.section-item__text-container{
  
    
}
.section-item__text{
    color: var(--text-color-gray-primary);
    word-wrap: break-word;

}


.section-item__date-container{
    align-self: center;
}
.section-item__date{
    color: var(--text-color-gray-secondary);
    font-size: smaller;

}