:root{
    --color-primary: #7908fa;
    --color-low-opacity-primary: #7908fa1e;
    --color-secondary: #44abff;
    --color-low-opacity-secondary:#44abff41;
    --color-danger: #fa0865;
    --text-color-gray-primary: hsla(0, 0%, 0%, 0.87);
    --text-color-gray-secondary: hsla(0, 0%, 0%, 0.6
    );

}

